<%= render Panda::Core::Admin::ContainerComponent.new do |component| %>
  <% component.with_heading_slot(text: "#{form.name} Submissions", level: 1) do |heading| %>
    <% heading.with_button(text: "Edit Form", href: edit_admin_cms_form_path(form), icon: "fa-solid fa-pen") %>
  <% end %>

  <%= render Panda::Core::Admin::TableComponent.new(term: "submission", rows: submissions) do |table| %>
    <% fields.each do |field, title| %>
      <% table.column(title) do |submission| %>
        <% if field == "email" || field == "email_address" %>
          <a href="mailto:<%= submission.data[field] %>" class="border-b border-gray-500 hover:text-gray-900"><%= submission.data[field] %></a>
        <% else %>
          <%= simple_format(submission.data[field]) %>
        <% end %>
      <% end %>
    <% end %>

    <% table.column("Submitted") do |submission| %>
      <%= time_ago_in_words(submission.created_at) %> ago
    <% end %>
  <% end %>
<% end %>
