<%= render Panda::Core::Admin::ContainerComponent.new do |component| %>
  <% component.heading(text: form.name, level: 1) do |heading| %>
  <% end %>

  <%= render Panda::Core::Admin::TableComponent.new(term: "submission", rows: submissions) do |table| %>
    <% fields.each do |field, title| %>
      <% table.column(title) do |submission| %>
        <% if field[0] == "email" || field[0] == "email_address" %>
          <a href="mailto:<%= submission.data[field[0]] %>" class="border-b border-gray-500 hover:text-gray-900"><%= submission.data[field[0]] %></a>
        <% else %>
          <%= simple_format(submission.data[field[0]]) %>
        <% end %>
      <% end %>
    <% end %>

    <% table.column("Submitted") do |submission| %>
      <%= time_ago_in_words(submission.created_at) %> ago
    <% end %>
  <% end %>
<% end %>
