<%= render Panda::Core::Admin::ContainerComponent.new do |component| %>
  <% component.with_heading(text: "New Menu", level: 1) %>

  <%= panda_cms_form_with model: menu, url: admin_cms_menus_path, method: :post, data: { controller: "menu-form" } do |f| %>
    <%= render Panda::Core::Admin::FormErrorComponent.new(model: menu) %>

    <%= f.text_field :name %>
    <%= f.select :kind, options_for_select([["Static", "static"], ["Auto", "auto"]], selected: menu.kind || "static"), {}, { "data-action": "change->menu-form#kindChanged" } %>

    <div data-menu-form-target="startPageField" class="hidden">
      <%= f.collection_select :start_page_id, Panda::CMS::Page.order(:title), :id, :title, { include_blank: "Select a page...", label: "Start Page" }, { class: "mt-1" } %>
    </div>

    <div data-menu-form-target="menuItemsSection">
        <%= render Panda::Core::Admin::PanelComponent.new do |panel| %>
          <% panel.with_heading_slot(text: "Menu Items") %>
          <% panel.with_body do %>
            <div data-controller="nested-form" data-nested-form-wrapper-selector-value=".nested-form-wrapper">
              <template data-nested-form-target="template">
                <%= f.fields_for :menu_items, Panda::CMS::MenuItem.new, child_index: "NEW_RECORD" do |item_form| %>
                  <%= render "menu_item_fields", form: item_form %>
                <% end %>
              </template>

              <div class="space-y-4"></div>

              <div data-nested-form-target="target"></div>

              <div class="mt-4">
                <%= render Panda::Core::Admin::ButtonComponent.new(text: "Add Menu Item", action: :add, link: "#", size: :small, data: { action: "click->nested-form#add" }) %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>

    <%= f.button "Create Menu" %>
  <% end %>
<% end %>
