<%= panda_cms_form_with model: post, url: url, method: post.persisted? ? :put : :post do |f| %>
  <%= render Panda::Core::Admin::FormErrorComponent.new(model: post) %>

  <div data-controller="slug" data-slug-add-date-prefix-value="true">
    <%= f.text_field :title,
        data: {
          "slug-target": "input_text",
          action: "focusout->slug#generatePath"
        } %>
    <%= f.text_field :slug,
        data: {
          "slug-target": "output_text"
        } %>
  </div>
  <%= f.select :author_id, Panda::Core::User.admin.map { |u| [u.name, u.id] } %>
  <%= f.datetime_field :published_at %>
  <%= f.select :status, options_for_select([["Active", "active"], ["Draft", "draft"], ["Hidden", "hidden"], ["Archived", "archived"]], selected: post.status) %>

  <% editor_id = "editor_#{dom_id(post, :content)}" %>
  <div data-controller="editor-form"
       data-editor-form-editor-id-value="<%= editor_id %>">
    <%= f.hidden_field :content,
        data: {
          editor_form_target: "hiddenField",
          initial_content: editor_content_for(post, local_assigns[:preserved_content]),
          action: "change->editor-form#handleContentChange"
        } %>
    <div id="<%= editor_id %>"
         data-editor-form-target="editorContainer"
         class="max-w-full block bg-white pt-1 mb-4 mt-2 border border-mid rounded-md min-h-[300px]">
    </div>
  </div>

  <%= f.submit post.persisted? ? "Update Post" : "Create Post",
      class: "btn btn-primary",
      data: {
        disable_with: "Saving...",
        action: "click->editor-form#submit"
      } %>
<% end %>
